body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  padding: 5px;
}

a {
  color:#0645ad;
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
  font-family: "Linux Libertine",Georgia,Times,serif
}

a:hover {
  text-decoration: underline;
}

th {
  width: 124.4px;
  padding-right: 10px;
  font-size: 0.8em;
  text-align: left;
}

td {
  width: 152.8px;
  font-size: 0.8em;
  text-align: left;
}

.leftbar {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 10em;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 0.1em solid #a7d7f9;
}


.logo {
display: block;
width: 10em;
height: 160px;
background-repeat: no-repeat;
background-image: url(frwiki.png);
}

.leftmenu {
  height: 100%;
  margin: 0;
}

.leftmenu li {
  font-size:0.75em;
  line-height: 1.125rem;
  padding-left: 0.5em;
  list-style: none;
  text-decoration: none;
}

.leftmenu ul {
  padding-left: 0.5em;
}

.leftmenu h3 {
  font-size: 0.75em;
  color: #4d4d4d;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0 0.25em 0.25em;
}

.leftmenu hr {
  margin: 10px;
  color: grey;
}


.menutop {
  top:0;
  width: auto;
  right: 0;
  position: absolute;
  font-size:0.75em;
  border-bottom: 0.1em solid #a7d7f9;
  height: 85px;
  left: 10rem;
}

.menutop ul {
  list-style-type: none;
  padding: 0;
}
.menutop li {
  display: inline-block;
  padding: 10px;

}

.connexion {
  margin: 0;
  margin-right: 6px;;
  position: absolute;
  padding: 1px;
  top:0;
  right: 0;
  height: auto;
}

.connexion ul {
  margin: 0;
}

.connexion li:first-child {
  color:grey;
}

.onglets {
  position: absolute;
  top:50px;
  left:0;
  display: inline-block;
  margin: 0;

}

.onglets li {
  display: inline;
  border-right: 0.1em solid #a7d7f9;
}

.modif {
  position: absolute;
  top:50px;
  right:0;
  width: auto;
  display: inline-block;
}

.modif ul {
  display: inline;
  right: 50px;
}

.modif li {
  margin: 0;
  border-right: 0.1em solid #a7d7f9;
}

.modif li:first-child, .onglets li:first-child {
  border-left: 0.1em solid #a7d7f9;
  border-bottom: 2px solid white;
  background-color: white;
}

.modif li:first-child a, .onglets li:first-child a {
  color:black;
}

.page {
  margin-left: 9.7rem;
  margin-top: 5rem;
  padding: 1rem;
  background-color: white;
}

.page p {
  line-height: 1.25rem;
  width: auto;
  font-size: 0.85em;
}

.info {
  border:1px solid grey;
  float:right;
  text-align: center;
  padding: 0rem;
  margin-left: 2em;
  background-color: #f6f6f6;

}

.info h2 {
  background-color: #B6CCDE;
  padding: 1rem 3rem 1rem 3rem;
  width: 185px;
  margin: 0.25rem;
  font-size: 1em;
  margin-bottom: 0.75em;
}

.info h2:last-of-type {
  font-size: 0.75em;
  padding: 4px 48px 4px 48px;
}

.info p {
  font-size: 0.7em;
  margin-top: 2px;
  margin-bottom: 2px;
}

.info hr {
  margin: 5px;
  color:#B6CCDE;
}

.info p:last-child a {
  font-size: 0.6em;
  text-align: left;
}

.sommaire {
  width: 485.25px;
  background-color: #f6f6f6;
  float: left;
  padding: 7px;
  border:1px solid grey;
  /*margin-left: 10.5rem;*/
}

.sommaire li {
  font-size: 0.82em;
  list-style-type: none;
}

.sommaire ul {
  padding-left: 0;
}

.somemaires li {
  padding-left: 40px;
}

.bio {
  clear: both;
  padding-top: 10px;
}
